@font-face {
  font-family: 'OpenSans_Condensed-Bold';
  src: url('../fonts/OpenSans_Condensed-Bold.woff') format('woff'),
       url('../fonts/OpenSans_Condensed-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}